<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Augury - IOC Intelligence</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>AUGURY</h1>
      <h2>IOC Intelligence</h2>
      <div class="search-box">
        <input type="text" placeholder="Paste your IOCs here" />
        <button type="button">
          <img
            src="/static/images/search.svg"
            alt="Search Icon"
            class="search-icon"
          />
        </button>
      </div>
    </div>

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
